<div class="container">
  <nav id="nav" class="animated fadeInUp">
    <div class="left">
      <div class="logo">
        <a href="/">
          <span>Unbox</span>
        </a>
      </div>
    </div>
    <div class="right">
      <ul>
        <a href="#episodes">
          <li>Episodes</li>
        </a>
        <a href="https://anchor.fm/unboxpod">
          <li>Subscribe</li>
        </a>
        <a href="https://twitter.com/unboxpod" class="twitter" alt="Twitter logo">{% include icon_twitter.html %}</a>
        <a href="https://instagram.com/unboxpod" class="twitter" alt="Instagram logo">{% include icon_instagram.html %}</a>
      </ul>
    </div>
  </nav>
</div>
