<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>
  <main> 
    <div class="episode-container">
      <a class="episodes-link" href="/#episodes">&lsaquo; Episodes</a>
      <article class="episode">
        <h3 class="title animated fadeInUp">{{ page.title }}</h3>
        <div class="guest animated fadeInUp" style="background-image: url('{{ page.guest }}')"></div>
        {% if page.embed2 %}
          <div class="podcast-wrapper">
            <iframe src="{{ page.embed }}" class="podcast" frameborder="0" scrolling="no"></iframe>
          </div>
          <div class="podcast-wrapper">
            <iframe src="{{ page.embed2 }}" class="podcast" frameborder="0" scrolling="no"></iframe>
          </div>
        {% else %}
          <div class="podcast-wrapper">
            <iframe src="{{ page.embed }}" class="podcast" frameborder="0" scrolling="no"></iframe>
          </div>
        {% endif %}
        <h4 class="show-notes-label">Show Notes</h4>
        {{ content }}
      </article>
      <a class="episodes-link" href="/#episodes">&lsaquo; Episodes</a>
    </div>
  </main>
  {% include footer.html %}
</body>
</html>
